langchain
langchain-community
langchain-core

faiss-cpu

sentence-transformers

openai
huggingface_hub
transformers
accelerate

streamlit

python-dotenv

tqdm

pydantic

gitpython

unstructured
beautifulsoup4

tiktoken
